@import "src/styles/breakpoint.mixin";

:root {
  --color-primary: #03a9f4;
  --color-secondary: #eeeeee;
  --color-bg: #f5f5f5;

  --color-white: #ffffff;

  --padding-1: 0.25rem;
  --padding-2: 0.5rem;
  --padding-3: 1rem;
  --padding-4: 1.5rem;
  --padding-5: 3rem;

  --margin-1: 0.25rem;
  --margin-2: 0.5rem;
  --margin-3: 1rem;
  --margin-4: 1.5rem;
  --margin-5: 3rem;

  --bar-lineHeight-1: 1.5rem;
  --bar-lineHeight-2: 1.5rem;
  --bar-lineHeight-3: 1.5rem;
  --bar-lineHeight-4: 1.5rem;
  --bar-lineHeight-5: 3.5rem;

  --box-shadow-sm: rgb(229, 229, 229) 0px 1px 2px;

  --border-contrast-1: rgba(38, 47, 52, 0.06);
  --border-contrast-2: #ebebec;
  --border-contrast-3: rgba(15, 17, 21, 0.06);

  --border-radious-1: 2px;
  --border-radious-2: 3px;
  --border-radious-3: 5px;

  --card-background: #fff;

  --sidebar-width: 85%;
  @include breakpoint-up(sm) {
    --sidebar-width: 250px;
  }
}

// TODO: move to variables/container
:root {
  --container-width: 100%;

  @include breakpoint-up(sm) {
    --container-width: 540px;
  }

  @include breakpoint-up(md) {
    --container-width: 720px;
  }

  @include breakpoint-up(lg) {
    --container-width: 960px;
  }

  @include breakpoint-up(xl) {
    --container-width: 1140px;
  }
}
