@import-normalize;

@import "variables";
@import "breakpoint.mixin";
@import "outer-spacing";

body {
  background: var(--color-bg);
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif; //TODO: fonts
}
